body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  background-color: #036564;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conteudo{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.photo{
  width: 15rem;
}

.sobre{
  width: 75%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
  
}
.texto{
  font-size: 20px;
  text-align: justify;
}

@media (max-width: 813px) { 
  .sobre{
    flex-direction: column-reverse;
  }
  .texto{
    font-size: 15px;
  }
 }
.teste{
  display: flex;
  width: 75%;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.conhecimento{
  display: flex;
  
  justify-content: space-between;

}
.conhecimento > ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.conhecimento > ul > li{
  display: flex;
  gap: 5px;
  align-items: center;
}

@media (max-width: 600px) { 
  .teste{
    flex-direction: column;
    justify-content: center;
  }
  .conhecimento > ul > li{
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
  }
 }


.footer{
  background-color: #031634;
  height: 6rem;
}



.color1 { background-color: #e8ddcb };
.color2 { background-color: #cdb380 };
.color3 { background-color: #036564 };
.color4 { background-color: #033649 };
.color5 { background-color: #031634 };